.card {
  padding: 2em;
}
.hiddenSelect {
  display: none;
}
.container {
  display: flex;
}
.marioButton {
  position: absolute;
}
.mainContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/mountainbg.webp");
  background-size: cover;
}
#mario {
  position: absolute;
  bottom: 0;
  height: 12%;
  display: flex;
  transition: all 1s;
}
.stairsContainer {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
}

.stairsContainer div:nth-child(1) {
  height: 10%;
}
.stairsContainer div:nth-child(2) {
  height: 20%;
}
.stairsContainer div:nth-child(3) {
  height: 30%;
}
.stairsContainer div:nth-child(4) {
  height: 40%;
}
.stairsContainer div:nth-child(5) {
  height: 50%;
}
.stairsContainer div:nth-child(6) {
  height: 60%;
}
.stairsContainer div:nth-child(7) {
  height: 70%;
}
.stairsContainer div:nth-child(8) {
  height: 80%;
}
.stair {
  width: 12.5%;
  height: 10%;
  border-top-left-radius: 2rem;
  background-color: green;
  opacity: 80%;
}
