* {
  background-color: black;
  overflow: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.stairsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.stairs {
  position: relative;
  right: -4rem;
  width: 25rem;
  height: 12rem;
  background-color: orange;
  transform: skew(-30deg);
}

.stairs2 {
  position: relative;
  right: 0rem;
  width: 25rem;
  height: 12rem;
  background-color: orange;
  transform: skew(-30deg);
}

.stairs3 {
  position: relative;
  bottom: 0;
  right: 4rem;
  width: 25rem;
  height: 12rem;
  background-color: orange;
  transform: skew(-30deg);
}

.stairs4 {
  position: relative;
  right: 14.75rem;
  width: 25rem;
  height: 12rem;
  background-color: orange;
  transform: skew(-30deg);
}