.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container {
  display: flex;
}
.stairsContainer {
  width: 100vw;
  height: 100vh;
  margin-top: -6rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.stairs {
  right: -4rem;
  width: 25rem;
  height: 4rem;
  background-color: blue;
}

.stairs2 {
  right: 0rem;
  width: 25rem;
  height: 4rem;
  background-color: white;
}

.stairs3 {
  right: 4rem;
  width: 25rem;
  height: 4rem;
  background-color: blue;
}

.stairs4 {
  right: 8rem;
  width: 25rem;
  height: 4rem;
  background-color: white;
}

.cube {
  margin: 1rem;
  background-color: green;
  width: 3rem;
  height: 3rem;
  z-index: 99;
}

.firstClimbStair {
  right: 7rem;
  display: flex;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/background.jpg");
  background-size: cover;
}

#mario {
  margin-left: 15rem;
  position: absolute;
  height: 15%;
  display: flex;
  bottom: 0;
}

