* {
  background-color: black;
  overflow: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.stairsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.stairs {
  position: relative;
  right: -4rem;
  width: 25rem;
  height: 4rem;
  background-color: white;
  border-top-left-radius: 10px;
  border: solid 3px lightskyblue;
}

.stairs2 {
  position: relative;
  right: 0rem;
  width: 25rem;
  height: 4rem;
  background-color: white;
  border-top-left-radius: 10px;
  border: solid 3px lightskyblue;
}

.stairs3 {
  position: relative;
  bottom: 0;
  right: 4rem;
  width: 25rem;
  height: 4rem;
  background-color: white;
  border-top-left-radius: 10px;
  border: solid 3px lightskyblue;
}

.stairs4 {
  position: relative;
  bottom: 0;
  right: 8rem;
  width: 25rem;
  height: 4rem;
  background-color: white;
  border-top-left-radius: 10px;
  border: solid 3px lightskyblue;
}
.stairs5 {
  margin-left:100px;
  position: relative;
  bottom: 0;
  right: 8rem;
  width: 25rem;
  height: 4rem;
  background-color: white;
  border-top-left-radius: 10px;
  border: solid 3px lightskyblue;
  margin-right:100px;
}
.object {
 display:flex;
 justify-content:left;
  bottom: 0;
  right: 8rem;
  width: 50px;
  height: 50px;
  margin-right: 100px;
  background-color: white;
  border-top-left-radius: 10px;
  border: solid 3px pink;
  margin-right:150px;
}

